.AboutPage_main {
  margin: 0 auto;
  max-width: 1140px;
  padding: 3rem 0;
  padding-bottom: 4rem;
  display: flex;
  gap: 4rem;
  flex-direction: column;
}

.about_galaxy_chain_main,
.about_galaxy_conveyor_main {
  background: white;
  color: black;
  padding: 2rem;
  /* border: 3px solid; */
    box-shadow: 14px 8px 16px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.about_intro_para_main {
  line-height: 1.5;
  word-spacing: 1px;
  letter-spacing: 1px;
  font-size: 19px;
}

.About_certificate_main {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
  color: black;
  box-shadow: 14px 8px 16px 0px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.About_certificate_main:hover {
  transform: scale(1.05);
}

.About_certificate_list_main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* color: azure; */
}
.About_product_range_block_main {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.About_product_range_main {
  /* color: azure; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.About_certificate_list_h3,
.About_product_range_list_h3 {
  letter-spacing: 1px;
}

@media screen and (max-width: 1210px) {
  .about_galaxy_chain_main,
  .about_galaxy_conveyor_main {
    margin: 0 2rem;
  }
  .About_certificate_main {
    width: 100%;
    margin: 0 2rem;
  }
}
